<h1>Add a New Employer</h1>
<form method="post">
    <fieldset>
        <label for="name" class="col-2">Name: *</label>
        <input name="name" id="name" required />
    </fieldset>
    <fieldset>
        <label for="region" class="col-2">Region: *</label>
        <select name="region" id="region" required>
            {{#each regions}}
            <option>{{this.name}}</option>
            {{/each}}
        </select>
    </fieldset>
    <fieldset>
        <label for="description" class="col-2">Description: *</label>
        <textarea name="description" id="description" required></textarea>
    </fieldset>
    <button class="btn btn-primary">Save</button>
</form>