body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #FF4081;
}

.navbar-dark {
  background-color: #009688;
}

.btn-primary {
  background: #FF4081;
}

.btn-primary:hover {
  background: #009688 !important;
}

main {
  padding-top: 20px;
  padding-left: 50px;
}

fieldset {
  padding: 5px;
}